* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 30%;
    background-color: #2b2e4a;
    color: white;
    padding: 20px;
}

.photo img {
    width: 100%;
    /* border-radius: 50%; */
    height: auto;
    margin-bottom: 20px;
}

.contacts h2, .skills h2, .soft-skills h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #e84545;
    padding-bottom: 5px;
}

.contacts p, .skills ul, .soft-skills ul {
    margin: 10px 0;
}

.skills ul, .soft-skills ul {
    list-style-type: none;
}

.right-column {
    width: 70%;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #2b2e4a;
}

.position {
    font-size: 24px;
    color: #e84545;
    margin-bottom: 20px;
}

.summary {
    margin-bottom: 20px;
    font-size: 16px;
}

.projects, .experience, .education {
    margin-bottom: 20px;
}

.projects ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.projects a {
    color: #e84545;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}

.experience .certifications {
    margin-bottom: 20px;
}

.experience .certifications h3 {
    color: #2b2e4a;
}

.experience .certifications ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience .goals {
    margin-bottom: 20px;
}

.experience .goals h3 {
    color: #2b2e4a;
}

.experience .goals ul {
    list-style-type: disc;
    margin-left: 20px;
}

.education p {
    margin: 5px 0;
}

strong {
    color: #2b2e4a;
}

.contacts p {
    color: #cccccc; 
    margin: 10px 0;
}

.contacts strong {
    color: #ffffff; 
}

.contacts a {
    color: #e84545; 
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}
